body{
       
       background: linear-gradient(to right, #040641, #0038ff, #3d0093);
       background-size: 180% 180%;
       animation: gradient-animation 5s ease infinite;
}
  @keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
    
}
.titu{
    font-size: 100px;
    color: white;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subt{
    font-size: 65px;
    color: white;
    display: inline-block;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.peq{
    font-size: 50px;
    color: white;
    display: inline-block;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text{
    font-size: 40px;
    color: white;
    align-items: center;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 900px;
    height: 270px;
    position: relative;
}

.img{
    width: 400px;
    display: inline-block;
    margin-right: 20px;
    border-radius: 50%;
    align-items: center;
    
}

.container{
    display: flex;
    align-items: center;
    line-height: 50px;
}
